.card{
  height: 300px;

 /* display: flex;
 justify-content: center;
 align-items: center; */
}

.card-img-top{
    height: 300px;

}

.card-img-top:hover{

    transform: scale(.6);
    cursor: pointer;
}

.card-text a{

    text-decoration:  none;
    color: black;
    font-weight: bold;
}