body {
  background-color: rgb(255, 255, 255) !important;
}

.player-card {
  height: 400px;
  max-width: 280px;
  min-width: 230px;
}

ul {
  height: 350px;
  padding-top: 5rem;
  margin: auto;
  font-size: 1.4rem;
  line-height: 3rem;
}

.player-logo {
  height: 350px;
  object-fit: cover;
  transition: transform 0.2s;
}

.card img:hover {
  transform: scale(0.8);
  cursor: pointer;
}

.card-container {
  min-width: 300px;
  min-height: 432px;
  background-image: url(../public/img/ay-yildiz-turk-bayragi-7.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  width: 60%;
  border-radius: 10px;
  border: 2px solid red;
  outline: none;
}

input::placeholder {
  padding-left: 0.6rem;
}

.name a {
  text-decoration: none;
  font-weight: 700;
}
